<h1>Listing Drinkbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Recipes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drank_books.each do |drank_book| %>
      <tr>
        <td><%= drank_book.name %></td>
        <td><%= drank_book.description %></td>
        <td>
          <% drank_book.recipes.each do |recipe| %>
            <%= recipe.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', drank_book %></td>
        <td><%= link_to 'Edit', edit_drank_book_path(drank_book) %></td>
        <td><%= link_to 'Destroy', drank_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drinkbook', new_drank_book_path %>
