<h1>Recipes</h1>

<table>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td class='row_title'><%= link_to recipe.name, recipe %></td>
        <td>[<%= link_to 'Edit', edit_recipe_path(recipe) %>] [<%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
      </tr>
      <tr>
        <td><%= recipe.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Recipe!', new_recipe_path %>
