<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Drankbooks</th>
      <th>Descriptions</th>
      <th>Process</th>
      <th>Ingredients</th>
      <th>Tools</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td>
          <% recipe.drank_books.each do |drank_book| %>
           - <%= drank_book.name %><br>
          <% end %>
        </td>
        <td><%= recipe.description %></td>
        <td><%= recipe.process %></td>
        <td>
          <% recipe.ingredients.each do |ingredient| %>
            - <%= ingredient.name %><br>
          <% end %>
        </td>
        <td>
          <% recipe.tools.each do |tool| %>
            - <%= tool.name %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
